{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules":{
      "no-irregular-whitespace": "warn",
      "@typescript-eslint/strict-boolean-expressions": ["error", {
        "allowString": false,
        "allowNumber": false,
        "allowNullableObject": false,
        "allowNullableBoolean": false,
        "allowNullableString": false,
        "allowNullableNumber": false,
        "allowNullableEnum" : false,
        "allowAny": false,
        "allowRuleToRunWithoutStrictNullChecksIKnowWhatIAmDoing": false
      }]
    },
    "ignorePatterns": ["package/**/*", "__tests__", "lib"],
    "parserOptions" : {
      "project": ["./tsconfig.json"]
    }
  }